<div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview">
        <img class="card-img-top" src="{{ recipe.photo_main.url }}" alt="główne zdjęcie">
        <div class="card-body">
            <div class="listing-heading text-center">
                <h4 class="text-primary">{{ recipe.title }}</h4>
                <p>
                    <i class="fas fa-utensils text-secondary"></i>
                    Kategoria: {{ recipe.get_category_display }}</p>
            </div>
            <hr>

            <div class="row py-2 text-secondary">
                <div class="col-6">
                    <i class="fas fa-sign-language"></i> {{ recipe.get_difficulty_display }}
                </div>
                <div class="col-6">
                    <i class="fas fa-user-plus"></i> Porcje: {{ recipe.serves }}
                </div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
                <div class="col-12">
                    <i class="fas fa-info"></i> Dieta: {{ recipe.get_diet_display }}
                </div>
            </div>
            <div class="row pb-2 text-secondary">
                <div class="col-12">
                    <i class="fas fa-user"></i> {{ recipe.author }}
                </div>
            </div>

            <div class="row text-secondary pb-2">
                <div class="col-12">
                    <i class="fas fa-calendar-alt"></i> {{ recipe.added_date | date:'d N' }}
                </div>
            </div>
            <hr>
            <a href="{% url 'recipe' recipe.id %}" class="btn btn-primary btn-block">Zobacz przepis</a>
        </div>
    </div>
</div>