{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% load ratings %}

{% block title %} | {{ recipe.title }}{% endblock %}

{% block headscripts %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}


{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ recipe.title }}</h1>
                    <p class="lead">
                        <i class="fas fa-utensils text-secondary"></i>
                        Kategoria: {{ recipe.get_category_display }}</p>
                </div>
            </div>
        </div>
    </section>

    <br>
    {% include 'partials/_alerts.html' %}


    <!-- Recipe -->
    <section id="recipe" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Main Image -->
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <img src="{{ recipe.photo_main.url }}" alt="główne zdjęcie" class="img-main img-fluid mb-3">
                            <!-- Thumbnails -->
                            <div class="row mb-5 thumbs">
                                {% if recipe.photo_main %}
                                    <div class="col-md-2">
                                        <a href="{{ recipe.photo_main.url }}" data-lightbox="meal-images">
                                            <img src="{{ recipe.photo_main.url }}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if recipe.photo_1 %}
                                    <div class="col-md-2">
                                        <a href="{{ recipe.photo_1.url }}" data-lightbox="meal-images">
                                            <img src="{{ recipe.photo_1.url }}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if recipe.photo_2 %}
                                    <div class="col-md-2">
                                        <a href="{{ recipe.photo_2.url }}" data-lightbox="meal-images">
                                            <img src="{{ recipe.photo_2.url }}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if recipe.photo_3 %}
                                    <div class="col-md-2">
                                        <a href="{{ recipe.photo_3.url }}" data-lightbox="meal-images">
                                            <img src="{{ recipe.photo_3.url }}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if recipe.photo_4 %}
                                    <div class="col-md-2">
                                        <a href="{{ recipe.photo_4.url }}" data-lightbox="meal-images">
                                            <img src="{{ recipe.photo_4.url }}" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                {% endif %}


                            </div>

                        </div>
                    </div>


                    <!-- Fields -->
                    <div class="row mb-5 fields">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-sign-language"></i> Stopień trudności:
                                    <span class="float-right">{{ recipe.get_difficulty_display }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-user-plus"></i> Porcje:
                                    <span class="float-right">{{ recipe.serves }}</span>
                                </li>

                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-star"></i> Ocena użytkowników:
                                    <span class="float-right">{% ratings recipe %}</span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-info"></i> Dieta:
                                    <span class="float-right">{{ recipe.get_diet_display }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-clock"></i> Czas przygotowania:
                                    <span class="float-right">{{ recipe.preparation_time_in_minutes }}minut</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-user"></i> Autor przepisu:
                                    <span class="float-right">{{ recipe.author }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-calendar-alt"></i> Data dodania:
                                    <span class="float-right">{{ recipe.added_date | date:'d N' }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <!-- Buttons -->
                                    <button class="btn btn-primary"
                                            {% if is_favourite %}style="display:none;"{% endif %}
                                            id="add-to-favourites" value="{{ recipe.id }}">Dodaj do
                                        ulubionych
                                    </button>

                                    <button class="btn btn-primary"
                                            {% if not is_favourite %}style="display:none;"{% endif %}
                                            id="remove-from-favourites" value="{{ recipe.id }}">Usuń z ulubionych
                                    </button>

                                    {% if user == recipe.author %}
                                        <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">Edytuj przepis</a>
                                    {% endif %}

                                    {% csrf_token %}
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="row mb-5">
                        <!-- Ingredients-->
                        <div class="col-md-3">
                            <h3 class="text-secondary">Składniki:</h3>
                            {{ recipe.ingredients|linebreaks }}
                        </div>
                        <!-- Description -->
                        <div class="col-md-9">
                            <h3 class="text-secondary">Opis przygotowania:</h3>
                            {{ recipe.description|linebreaks }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            $("#add-to-favourites").click(function () {
                {% if user.is_authenticated %}
                    var recipe_id = $(this).val();
                    console.log(recipe_id)
                    var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                    var addToFavourites = $.ajax({
                        "url": "{% url 'add_to_favourites' %}",
                        "type": "POST",
                        'data': {
                            'recipe_id': recipe_id,
                            'csrfmiddlewaretoken': csrf_token
                        },
                        'dataType': 'json',
                        success: function (response) {
                            console.log(response);
                            $("#add-to-favourites").hide();
                            $("#remove-from-favourites").show();
                        },
                        error: function (response) {
                            console.log(response["responseJSON"]["error"]);
                        }
                    });

                {% else %}
                    alert('Żeby dodać przepis do ulubionych musisz być zalogowany');
                {% endif %}
            })
        });

        $(document).ready(function () {
            $("#remove-from-favourites").click(function () {
                {% if user.is_authenticated %}
                    var recipe_id = $(this).val();
                    console.log(recipe_id)
                    var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                    var removeFavourites = $.ajax({
                        "url": "{% url 'remove_from_favourites' %}",
                        "type": "POST",
                        'data': {
                            'recipe_id': recipe_id,
                            'csrfmiddlewaretoken': csrf_token
                        },
                        'dataType': 'json',
                        success: function (response) {
                            console.log(response);
                            $("#remove-from-favourites").hide();
                            $("#add-to-favourites").show();
                        },
                        error: function (response) {
                            console.log(response["responseJSON"]["error"]);
                        }
                    });

                {% else %}
                    alert('Żeby usunąć przepis z ulubionych musisz być zalogowany');
                {% endif %}
            })
        })
    </script>
{% endblock %}